* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

h1, h2 {
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

.bg-light-gray {
    background-color: #c4c3c3e1;
    color: #212529;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
